<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>助学成就</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link href="css/base.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/common.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<!--container starts-->
<div class="container">
	<div class="containerFour">
		<div class="cupImg"> <img id="aPic" src="images/containerthreecup.png"> </div>
		<h1 class="mainText" id="achieve">助学达人</h1>
		<h1 class="mainText mainTextOne">恭喜<span id="name1">你</span>完成第<span class="sptwo" id="helpNum">6</span>次助学！</h1>
		<p>本次助学由人人助学团贴息，学生可享低息/无息助学贷款， 感谢<span id="name2">您</span>为中国的教育事业做出了自己的一份贡献！</p>
		<button class="whiteButton">我要助学</button>
		<div class="secOne">
			<div class="secOnein">
				<h1>部分助学学生信息</h1>
				<div class="sectulli">
					<ul id="helpRecords">
						<li class="rowone">
							<ul class="clearfloat">
								<li class="colone">头像</li>
								<li class="coltwo">姓名</li>
								<li class="colthree">学校</li>
							</ul>
						</li>
						<!-- <li class="rowone">
							<ul class="clearfloat">
								<li class="colone"><span class="colonea"><img src="images/cnfourmanpic.png"></span></li>
								<li class="coltwo">... ...汪</li>
								<li class="colthree">北京大学</li>
							</ul>
						</li>
						<li class="rowone">
							<ul class="clearfloat">
								<li class="colone"><span class="colonea"><img src="images/cnfourmanpic.png"></span></li>
								<li class="coltwo">... ...汪</li>
								<li class="colthree">北京大学</li>
							</ul>
						</li>
						<li class="rowone">
							<ul class="clearfloat">
								<li class="colone"><span class="colonea"><img src="images/cnfourmanpic.png"></span></li>
								<li class="coltwo">... ...汪</li>
								<li class="colthree">北京大学</li>
							</ul>
						</li>
						<li class="rowone">
							<ul class="clearfloat">
								<li class="colone"><span class="colonea"><img src="images/cnfourmanpic.png"></span></li>
								<li class="coltwo">... ...汪</li>
								<li class="colthree">北京大学</li>
							</ul>
						</li>
						<li class="rowone">
							<ul class="clearfloat">
								<li class="colone"><span class="colonea"><img src="images/cnfourmanpic.png"></span></li>
								<li class="coltwo">... ...汪</li>
								<li class="colthree">北京大学</li>
							</ul>
						</li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="oDiv" style="position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px; display: none"></div>
<script src="js/mobile.js"></script>
</body>
</html>
<script type="text/javascript" src="../js/public.js" ></script>
<script type="text/javascript" src="../js/zepto.min.js" ></script>
<script type="text/javascript">
    $(function(){
        var UrlData=window.location.search;
        var locationData={};//接收链接地址传输的数据
        var mainData={};//助学团详情json
        
        (UrlData==='')&&(true,locationData='nullObject') || (UrlData!='') && (true,locationData=pub.StrToJOON(UrlData));
        //判断有没有获取数据 ps:获取到了去读数据，没有获取到提示没有获取到
        (locationData === 'nullObject')&&(true,(function(){
            $('#oDiv').show();
            pub.cs('没有获取到数据！');
        })()) || (locationData!='nullObject')&&(true,function(){
            getGroupDetail();//获取帮助所有帮助提升身价的小伙伴
        }());//判断有没有获取数据 end
        
        //获取帮助提升身价小伙伴列表的方法
        function getGroupDetail(){
        	var datas ={'version':'1.0','system':'weixin','token':'','objId':'String','method':'/finance/help/achievement','data':''+locationData.userId+''};
            $.ajax({
                dataType:'jsonp',
                url:pub.jsonPApiT,
                data:datas,
                jsonp:'callback',
                success:function(jsonData){
                    mainData=eval(jsonData);
					if(mainData.code=='6666'){
						$('#name1').html(mainData.data.userName);
						$('#name2').html(mainData.data.userName);
						var helpNum = mainData.data.helpNum;
						$('#helpNum').html(helpNum);
						if(helpNum<=6){
							$('#achieve').html('助学天使');
							$('#aPic').attr('src',pub.wxDomain+'views/zxt_stu/sb/images/tianshi.png');
						}else if(helpNum>=7&&helpNum<=16){
							$('#achieve').html('助学达人');
							$('#aPic').attr('src',pub.wxDomain+'views/zxt_stu/sb/images/daren.png');
						}else{
							$('#achieve').html('助学功勋');
							$('#aPic').attr('src',pub.wxDomain+'views/zxt_stu/sb/images/gongxun.png');
						}
						var records = mainData.data.dfd;
						if(records == undefined){
							$('#helpRecords').append('<li class="rowone">'+
									'<ul class="clearfloat">'+
									'<li class="colone"></li>'+
									'</ul></li>');
						}else{
							for(var i=0;i<records.length;i++){
								$('#helpRecords').append('<li class="rowone">'+
										'<ul class="clearfloat">'+
											'<li class="colone"><span class="colonea"><img src="'+records[i].avatar+'"></span></li>'+
											'<li class="coltwo">'+records[i].userName+'</li>'+
											'<li class="colthree">'+records[i].school+'</li>'+
										'</ul>'+
									'</li>');
                            }
						}
					}else{
						$('#oDiv').show();
                        pub.cs(mainData.msg);
					}
                }
            });
            
        };//获取帮助提升身价小伙伴列表的方法 end
        $('.whiteButton').click(function(e){
        	//window.location.href=pub.wxDomain+'views/zxt_stu/sb/downloadApp.html';
        	pub.openApp(e);
        });
	});
</script>