<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>参投人士</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link href="css/base.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/common.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body class="body_color">
<!--container starts-->
<div class="container"> 
  <div class="containerTwo" id="bidders">
    <div class="headContent clearfloat">
      <h1 class="fl">投资人</h1>
      <h2 class="fl">投资金额</h2>
      <h1 class="fr">投资时间</h1>
    </div>
    <!-- <div class="first clearfloat">
      <div class="firstPic fl"> <img src="images/sectoneimg.jpg"> </div>
      <h1 class="fl">人人助学<span>助学团</span></h1>
      <h2 class="fl">2000.00元</h2>
      <h3 class="fr">2016-11-09  12:23</h3>
    </div>
    <div class="first clearfloat">
      <div class="firstPic fl"> <img src="images/cnttwogray.png"> </div>
      <h1 class="fl">新东方<span>助学团</span></h1>
      <h2 class="fl">2000.00元</h2>
      <h3 class="fr">2016-11-09  12:23</h3>
    </div>
    <div class="first clearfloat">
      <div class="firstPic fl"> <img src="images/cnttwopig.png"> </div>
      <h1 class="fl center"><span class="sponn fl">＊＊</span><span class="fl">佳</span></h1>
      <h2 class="fl">2000.00元</h2>
      <h3 class="fr">2016-11-09  12:23</h3>
    </div>
    <div class="first clearfloat">
      <div class="firstPic fl"> <img src="images/cnttwobox.png"> </div>
      <h1 class="fl center"><span class="sponn fl">＊</span><span class="fl">群</span></h1>
      <h2 class="fl">2000.00元</h2>
      <h3 class="fr">2016-11-09  12:23</h3>
    </div> -->
  </div>
</div>
<div id="oDiv" style="position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px; display: none"></div>
<script src="js/mobile.js"></script>
</body>
</html>
<script type="text/javascript" src="../js/public.js" ></script>
<script type="text/javascript" src="../js/zepto.min.js" ></script>
<script type="text/javascript">
    $(function(){
        var UrlData=window.location.search;
        var locationData={};//接收链接地址传输的数据
        var mainData={};//助学团详情json
        
        (UrlData==='')&&(true,locationData='nullObject') || (UrlData!='') && (true,locationData=pub.StrToJOON(UrlData));
        //判断有没有获取数据 ps:获取到了去读数据，没有获取到提示没有获取到
        (locationData === 'nullObject')&&(true,(function(){
            $('#oDiv').show();
            pub.cs('没有获取到数据！');
        })()) || (locationData!='nullObject')&&(true,function(){
            getGroupDetail();//获取帮助所有帮助提升身价的小伙伴
        }());//判断有没有获取数据 end
        function getGroupDetail(){
        	var datas ={'version':'1.0','system':'weixin','token':'','objId':'StudentStandardVO','method':'/finance/studentStandard/getInvestors','@loanId':''+locationData.loanId+''};
            $.ajax({
                dataType:'jsonp',
                url:pub.jsonPApiT,
                data:datas,
                jsonp:'callback',
                success:function(jsonData){
                    mainData=eval(jsonData);
					if(mainData.code=='6666'){
						var f = mainData.data.finances;
						if(f==undefined){
							$('#bidders').append('<div class="first clearfloat">暂无投资记录</div>')
						}else{
							for(var i=0;i<f.length;i++){
                                $('#bidders').append('<div class="first clearfloat">'+
                                		'<div class="firstPic fl"> <img src="'+f[i].avatar+'"> </div>'+
                                	    '<h1 class="fl">'+f[i].userName+'</h1>'+
                                	    '<h2 class="fl">'+f[i].raiseMoney+'元</h2>'+
                                	    '<h3 class="fr">'+pub.parseDateTime(f[i].createTime)+'</h3>'+
                                	'</div>');
                            }
						}
					}else{
						$('#oDiv').show();
                        pub.cs(mainData.msg);
					}
                }
            });
            
        };
	});
</script>