<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>分享职位</title>
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
	<div id="AIBg" style="position: fixed;  left: 0; right: 0; top:0; bottom: 0; background: url(images/a.png) #000 no-repeat 70% top;  background-size:80% ;"></div>
	<div id="oDiv" style="position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px; display: none"></div>
</body>
</html>
<script type="text/javascript" src="../js/public.js" ></script>
<script type="text/javascript" src="../js/zepto.min.js" ></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
$(function(){
    var UrlData=decodeURI(window.location.search);
    var locationData={};//接收链接地址传输的数据
    var jsonDataObj={};//获取微信传来的数据
    
    (UrlData==='')&&(true,locationData='nullObject') || (UrlData!='') && (true,locationData=pub.StrToJOON(UrlData));
    //判断有没有获取数据 ps:获取到了去读数据，没有获取到提示没有获取到
    (locationData === 'nullObject')&&(true,(function(){
        $('#oDiv').show();
        pub.cs('没有获取到数据！');
    })()) || (locationData!='nullObject')&&(true,function(){
    }());//判断有没有获取数据 end
    
var sData={'url':window.location.href};
$.get(pub.wxSignApi,sData,function(data){
	jsonDataObj=JSON.parse(data);
	if(jsonDataObj.code==200){
		// 微信配置  
		wx.config({  
		    debug: false,
		    appId: jsonDataObj.appId,   
		    timestamp: jsonDataObj.timeStamp,   
		    nonceStr: jsonDataObj.nonceStr,   
		    signature: jsonDataObj.signature,  
		    jsApiList: ['checkJsApi','onMenuShareTimeline','onMenuShareAppMessage'] // 功能列表，我们要使用JS-SDK的什么功能  
		});
		wx.ready(function(){
			// 1 判断当前版本是否支持指定 JS 接口，支持批量判断
            wx.checkJsApi({
                jsApiList : [ 'onMenuShareTimeline', 'onMenuShareAppMessage' ],
                success : function(res) {
                    // 以键值对的形式返回，可用的api值true，不可用为false
                    // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
                }
            });
            wx.onMenuShareTimeline({
            	title: locationData.jobName, // 分享标题 
            	link: pub.wxDomain+'jzDetailAuthCode?jobId='+locationData.jobId, // 分享链接 
            	imgUrl: pub.wxDomain+'views/zxt_stu/images/logo.png', // 分享图标 
            	success: function () { 
            		// 用户确认分享后执行的回调函数 
            	}, 
            	cancel: function () { 
            		// 用户取消分享后执行的回调函数 
            	} 
            });
            wx.onMenuShareAppMessage({ 
            	title: locationData.jobName, // 分享标题 
            	desc: '刚刚发现一个很适合你的兼职，快来报名吧！', // 分享描述 
            	link: pub.wxDomain+'jzDetailAuthCode?jobId='+locationData.jobId, // 分享链接 
            	imgUrl: pub.wxDomain+'views/zxt_stu/images/logo.png', // 分享图标 
            	//type: '', // 分享类型,music、video或link，不填默认为link 
            	//dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空 
            	success: function () { 
            		// 用户确认分享后执行的回调函数 
            	}, 
            	cancel: function () { 
            		// 用户取消分享后执行的回调函数 
            	} 
            });
		});
		wx.error(function(res){
			console.log(JSON.stringify(res));
		});
	}else{
		$('#oDiv').show();
        pub.cs(jsonDataObj.msg);
	}
});
});
</script>


