html, body, div, span,h1, h2, h3, h4, h5, h6, p,
a, em, img, q, s, small, strong,b, u, i,dl, dt, 
dd, ol, ul, li,form, label,table, caption, tbody,
tfoot, thead, tr, th, td,article,footer, header, 
menu, nav,section, time, audio, video,button ,textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family:'Helvetica Neue', 'Microsoft YaHei', Helvetica, Arial, 'Liberation Sans', FreeSans, 'Hiragino Sans GB', sans-serif;
	font-weight: normal;
	vertical-align: baseline;
	text-decoration: none;
	line-height: 1.2
}
a{ 
	display: inline-block;
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear{
	clear: both;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfloat{zoom:1;}
.clearfloat:after{
	display:block;
	clear:both;
	content:"";
	overflow:hidden;
	height:0;
}
.spill{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
}
.multiSpill{
	word-break:break-all;
   text-overflow:ellipsis;
   display:-webkit-box;
   -webkit-box-orient:vertical;
  /* -webkit-line-clamp:3;*/
   overflow:hidden;
}
input {
	-webkit-appearance:none;
	-moz-appearance:none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family:'Helvetica Neue', 'Microsoft YaHei', Helvetica, Arial, 'Liberation Sans', FreeSans, 'Hiragino Sans GB', sans-serif;
	font-weight: normal;
	vertical-align: baseline;
	text-decoration: none;
}
input:focus{
	outline:none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
textarea{ 
	-webkit-appearance:none;
	-moz-appearance:none;
}   
input:focus{
	outline:none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
select:focus{
	outline:none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
textarea:focus{
	outline:none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
button:focus{
	outline:none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
button{
	cursor:pointer;
}
select{
	cursor:pointer;
}
input type:checkbox{
	cursor:pointer;
}
input type:radiobox{
	cursor:pointer;
}
.container img{
	width:100%;
	display:block;
}
/*header start*/
.header img {
    width: 100%;
    display: block;
}
.header {
    width: 92%;
    background-color: #000000;
    position: fixed;
    padding: .6rem 4%;
    top: 0;
    z-index: 1000;
}
.header .hedLft a {
    width: .7rem !important;
    margin-top: .2rem;
}
.header .headerMiddle {
    position: absolute;
    top: 50%;
    margin: -0.67rem auto 0rem auto;
    left: 0;
    right: 0;
    width: 9rem;
}
.header .headerMiddle h1 {
    text-align: center;
    color: #fff;
    font-size: .9rem;
    padding: .1rem 0;
}
/*header end*/
.wrapper {
    width: 94%;
    margin: 0 auto;
}
.orangebtn {
    padding: 0 4.5rem;
    height: 1.85rem;
    text-align: center;
    font-size: .75rem;
    color: #ffffff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-color: #ff5144;
    background-image: -webkit-linear-gradient(right, #f54, #ff7444);
    background-image: -moz-linear-gradient(right, #f54, #ff7444);
    background-image: -o-linear-gradient(right, #f54, #ff7444);
    background-image: -ms-linear-gradient(right, #f54, #ff7444);
    background-image: linear-gradient(to left, #f54, #ff7444);
    margin: .5rem 0 .5rem 0;
}
/*footer*/
.footer {
    background-color: #ecfcf9;
    padding: 0.35rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footerTxt {
    padding: 0.2rem 0rem 0 0.7rem;
}
.ffotcross {
    width: .375rem;
    margin: .9rem .55rem .9rem 0;
}
.lytGreenBg {
    width: 2.1rem;
    border-radius: 10px;
    overflow: hidden;
}
.footerTxt h3 {
    color: #666060;
    font-size: 0.75rem;
    padding-bottom: 0.1rem;
}
.footerTxt h4 {
    color: #666666;
    font-size: 0.65rem;
}
/*orangeButton*/
.orngBtn {
    color: #fff;
    font-size: 0.6rem;
    padding: 0 .62rem;
    height: 1.4rem;
    margin: 0.35rem 0;
    -webkit-border-radius: 15px/15px 15px 14px 14px;
    -moz-border-radius: 15px/15px 15px 14px 14px;
    border-radius: 15px/15px 15px 14px 14px;
    background-color: #f91;
    background-image: linear-gradient(105deg, #ffb25f, #ff8460);
}
/*whiteBg*/
.whiteBg {
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 8px #e5e5e5;
    -moz-box-shadow: 0 0 8px #e5e5e5;
    box-shadow: 0 0 8px #e5e5e5;
}
.space {
    padding: 1rem 0 1rem 0rem;
    border-bottom: 1px solid #efefef;
    margin-left: 1rem;
}
.whiteBg a {
    display: block;
}
.guyImgSet {
    width: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.textSet {
    padding: 0.4rem 0rem 0 0.65rem;
}
.textSet h1 {
    color: #333333;
    font-size: 0.75rem;
    padding-bottom: 0.25rem;
}
.textSet h2 {
    color: #999999;
    font-size: 0.6rem;
}
.textSet span {
    padding-left: 0.5rem;
}
/*containertwoTwo and containertwoFour*/
.greenBgTwo {
    padding: 0rem 0 4.5rem 0;
    background: url(../images/bgcolorone.jpg) no-repeat;
    background-size: cover;
}
.ImgTxt {
    width: 16rem;
    margin: 0 auto;
    padding: 1.5rem 0 1.7rem 0;
}
.dotImg {
    background: url(../images/dotdotdot.png) no-repeat;
    background-size: contain;
    /* width: 6.5rem; */
}
.ppl {
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;
    margin: -0.5rem 0 0 0.9rem;
}
.greenBgRytTxt {
    padding: 0.3rem 0 0 0rem;
}
.greenBgRytTxt h1 {
    color: #fff;
    font-size: 1.1rem;
    padding-bottom: 0.35rem;
}
.greenBgRytTxt h2 {
    color: #fff;
    font-size: 0.75rem;
}
.whiteBg h3 {
    color: #999999;
    font-size: 0.7rem;
    padding: 0.75rem 0px 0.6rem 0;
    border-bottom: 1px solid #efefef;
    margin-left: 0.75rem;
}
.whiteBg .borderone {
    width: .1rem;
    display: inline-block;
    background: #22cccc;
    min-height: .65rem;
    margin-right: .5rem;
    vertical-align: middle;
    border-radius: 2px;
    margin-top: -.1rem
}
.whiteBtnGT {
    color: #22cccc;
    font-size: 0.8rem;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    height: 1.85rem;
    padding: 0 1.59rem;
}
.textbrdr {
    width: .1rem;
    height: .75rem;
    display: inline-block;
    margin: -.1rem .5rem 0 0;
    vertical-align: middle;
    border-radius: 3px;
    background: #ff5544;
}
.tabbrbdr {
    border-right: 1px solid #dddddd;
}
.secondHeadOne {
    font-size: .7rem;
    color: #333333;
    border-bottom: 1px solid #dddddd;
    padding: .6rem 0;
}
.yelllowbox {
    text-align: center;
}
.yelllowbox h1 {
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 1.5rem;
}
.logo {
    width: 4.5rem;
    margin: 0 auto 0 auto;
}
.lastSctn {
    padding: 3.5rem 0 1.5rem 0;
    text-align: center;
}
